@import url(//fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext);

* {
    margin: 0;
    padding: 0;
}

body {

    overflow: hidden;
    background-color: #000;
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
    font-size: 2.5vw;

}

.foto1 {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url(MainSideImg/drum-set-1839383_1280.jpg);
    background-size: cover;
    background-position: center;
    border-right: 1px solid black;
    box-shadow: inset 5px 5px 5px #182019, inset -5px -5px 5px #182019;
    cursor: pointer;
    animation: startowa 1.5s;
    transition: 1s;
    transform-origin: center;


}

.foto1 p.text1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(0, 0, 0, 80%);
    transition: 1s;
    transform-origin: center;
}

.foto1:hover p.text1 {
    color: snow;
    width: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(0, 0, 0, 95%);
}

.foto2 {
    position: absolute;
    display: inline-block;

    width: 50%;
    height: 100%;
    top: 0%;
    right: 0%;
    background-repeat: no-repeat;
    background-image: url(MainSideImg/vinyl2.jpg);
    background-size: cover;
    background-position: center;
    border-left: 1px solid black;
    box-shadow: inset 5px 5px 5px #182019, inset -5px -5px 5px #182019;
    cursor: pointer;
    animation: startowa 1.5s;
    transform-origin: center;
    transition: 1s;


}

.foto2 p.text2 {
    display: block;
    position: absolute;
    top: 50%;
    right: 0%;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(0, 0, 0, 80%);
    transition: 1s;
    transform-origin: center;
}

.foto2:hover p.text2 {
    width: 90%;
    color: snow;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(0, 0, 0, 95%);
}

.animate1 {
    transform: scale(1.1);
}

.animate2 {
    transform: translate(5%);
}

.animate3 {
    transform: translate(-5%);
}



@keyframes startowa {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



@media(max-width:812px) and (orientation:portrait) {


    body {

        font-size: 7vw;

    }

    .foto1 {
        width: 100%;
        height: 50%;
    }

    .foto1 p.text1 {
        top: calc(50% - 20px);
        padding: 10px 0;
        background-color: rgb(0, 0, 0, 90%);
        border-radius: 50px 50px 50px 50px;
    }

    .foto1:hover p.text1 {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .foto2 {
        width: 100%;
        height: 50%;
        top: 50%;
        right: 0%;

    }

    .foto2 p.text2 {
        top: calc(50% - 20px);
        padding: 10px 0;
        background-color: rgb(0, 0, 0, 90%);
        border-radius: 50px 50px 50px 50px;
    }

    .foto2:hover p.text2 {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


}

@media(max-width:900px) and (orientation:landscape) {


    body {

        font-size: 3.5vw;

    }


    .foto1 p.text1 {
        top: calc(50% - 10px);
        padding: 5px 0;
        background-color: rgb(0, 0, 0, 90%);
        border-radius: 50px 50px 50px 50px;
    }

    .foto1:hover p.text1 {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    .foto2 p.text2 {
        border-radius: 50px 50px 50px 50px;
        top: calc(50% - 10px);
        padding: 5px 0;
        background-color: rgb(0, 0, 0, 90%);
    }

    .foto2:hover p.text2 {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


}

#preloader {
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease;
}

.load {
    border: 8px solid brown;
    border-radius: 100%;
    border-top: 8px dotted darkorange;
    width: 80px;
    height: 80px;
    animation: animationloader 2s linear infinite;
}

@keyframes animationloader {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}

#preloader.preloader-hiding {
    opacity: 0;
}

#preloader.preloader-hidden {
    display: none;
}