.all-contact {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    width: 60%;
    margin: 0 auto;
    transition: .8s linear;
    transform: translateX(100vw);

    &.active {
        transform: translateX(0);
    }

    h2 {
        display: block;
        width: 80%;
        color: white;
        font-family: 'Advent Pro', sans-serif;
        letter-spacing: 3px;
        font-size: 2.5vw;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid white;
    }


    .contact-container {
        display: block;
        width: 60%;
        margin: 0 auto;


        form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: space-around;
            margin: 3%;

            input {
                font-family: Arial, Helvetica, sans-serif;
                flex-basis: 6vh;
                width: 80%;
                margin: 2% auto;
                background-color: transparent;
                color: white;
                border-radius: 10px 10px 10px 10px;
                border: 2px solid white;
                padding: 2%;
                font-size: 1vw;

                &:focus {
                    border: 2px solid darkorange;
                }

            }

            #message1 {
                font-family: Arial, Helvetica, sans-serif;
                flex-basis: 20vh;
                width: 80%;
                border-radius: 10px 10px 10px 10px;
                background-color: transparent;
                border: 2px solid white;
                margin: 2% auto;
                padding: 1% 0 0 2%;
                font-size: 1vw;
                color: white;

                &:focus {
                    border: 2px solid darkorange;
                }
            }

            #submit {
                width: 50%;
                background-color: #D05A38;
                border-color: transparent;
                cursor: pointer;

            }


        }



    }

    .contact-info {
        width: 60%;
        margin: 0 auto;


        p {
            color: white;
            font-size: 3vh;
            text-align: center;

            .fas {
                display: block;
                font-size: 5vh;
                margin: 4%;
                text-align: center;
            }
        }

        .icons {
            font-size: 6vh;
            text-align: center;
            margin: 8%;

            i {
                color: white;

                &:hover {
                    color: darkorange;
                }
            }
        }
    }
}


footer {
    height: 10vh;
    box-shadow: 0 0 1em #D05A38;
    background-color: black;


    button {
        display: block;
        width: 7vh;
        height: 7vh;
        margin: 1.5vh auto;
        transform-origin: center;
        border-radius: 50% 50%;
        background-color: transparent;
        border: 5px solid #D05A38;
        cursor: pointer;

        &:hover {
            border: 5px solid white;
        }

        &:hover i {
            color: white;
        }

        i {
            color: #D05A38;
            font-size: 4vh;


        }
    }
}

@media (max-width: 1300px) {
    .all-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        width: 90%;
        margin: 0 auto;
        transition: .8s linear;
        transform: translateX(100vw);

        &.active {
            transform: translateX(0);
        }

        h2 {
            display: block;
            width: 90%;
            color: white;
            font-family: 'Advent Pro', sans-serif;
            letter-spacing: 3px;
            font-size: 4vw;
            margin: 0 auto;
            text-align: center;
            border-bottom: 2px solid white;
        }


        .contact-container {
            display: block;
            width: 60%;
            margin: 0 auto;


            form {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: space-around;
                margin: 3%;

                input {
                    font-family: Arial, Helvetica, sans-serif;
                    flex-basis: 6vh;
                    width: 80%;
                    margin: 2% auto;
                    background-color: transparent;
                    color: white;
                    border-radius: 10px 10px 10px 10px;
                    border: 2px solid white;
                    padding: 2%;
                    font-size: 2vw;

                    &:focus {
                        border: 2px solid darkorange;
                    }

                }

                #message1 {
                    font-family: Arial, Helvetica, sans-serif;
                    flex-basis: 20vh;
                    width: 80%;
                    border-radius: 10px 10px 10px 10px;
                    background-color: transparent;
                    border: 2px solid white;
                    margin: 2% auto;
                    padding: 1% 0 0 2%;
                    font-size: 2vw;
                    color: white;

                    &:focus {
                        border: 2px solid darkorange;
                    }
                }

                #submit {
                    width: 50%;
                    background-color: #D05A38;
                    border-color: transparent;
                    cursor: pointer;

                }


            }



        }

        .contact-info {
            width: 60%;
            margin: 0 auto;


            p {
                color: white;
                font-size: 3vh;
                text-align: center;

                .fas {
                    display: block;
                    font-size: 5vh;
                    margin: 4%;
                    text-align: center;
                }
            }

            .icons {
                font-size: 6vh;
                text-align: center;
                margin: 8%;

                i {
                    color: white;

                    &:hover {
                        color: darkorange;
                    }
                }
            }
        }
    }


    footer {
        height: 10vh;
        box-shadow: 0 0 1em #D05A38;
        background-color: black;


        button {
            display: block;
            width: 7vh;
            height: 7vh;
            margin: 1.5vh auto;
            transform-origin: center;
            border-radius: 50% 50%;
            background-color: transparent;
            border: 5px solid #D05A38;
            cursor: pointer;

            &:hover {
                border: 5px solid white;
            }

            &:hover i {
                color: white;
            }

            i {
                color: #D05A38;
                font-size: 4vh;


            }
        }
    }

}

@media (max-width: 600px) {

    .all-contact {
        width: 90%;



        h2 {

            width: 90%;
            font-size: 6vw;

        }


        .contact-container {
            display: none;
            width: 90%;
            margin: 0 auto;




        }

        .contact-info {
            width: 80%;
            margin: 0 auto;


            p {

                font-size: 3vh;


                .fas {

                    font-size: 5vh;
                    margin: 8%;

                }
            }

            .icons {
                font-size: 6vh;

                margin: 8%;

                i {
                    color: white;

                    &:hover {
                        color: darkorange;
                    }
                }
            }
        }
    }


    footer {
        height: 7vh;
        box-shadow: 0 0 1em #D05A38;
        background-color: black;


        button {
            display: block;
            width: 6vh;
            height: 6vh;
            margin: 0.5vh auto;
            transform-origin: center;
            border-radius: 50% 50%;
            background-color: transparent;
            border: 3px solid #D05A38;
            cursor: pointer;

            &:hover {
                border: 3px solid #D05A38;
            }

            &:hover i {
                color: #D05A38;
            }

            i {
                color: #D05A38;
                font-size: 4vh;


            }
        }
    }



}