.ornament1 {
    display: block;
    width: 100%;
    height: 40vmin;
    background-image: url(../DjSideImg/przerywnik5.jpg);
    box-shadow: inset 0px 15px 15px #182019, inset -0px -15px 15px #182019;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 50%;

}

.offer-wrapper {
    height: auto;

    .offer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        max-width: 65%;
        margin: 0 auto;
        flex-wrap: wrap;

        .col1,
        .col2 {
            box-sizing: border-box;
            flex-basis: 45%;
            height: 20vmax;
            background-color: rgb(12, 10, 10);
            box-shadow: 0 0 1em #D05A38;
            padding: 10px;
            border-radius: 30px 30px 30px 30px;
            margin: 2%;
            transform: scale(0);
            transition: .8s linear;


            &.active {
                transform: scale(1);
            }



        }
    }
}

.gallery {

    .images {
        max-width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        margin-bottom: 5%;

        a {
            margin: 2% 1%;
            flex-basis: 25vh;
            height: 20vh;
            overflow: hidden;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0 0 1em #D05A38;
            transition: 0.5s;


            &:hover {
                transform: scale(1.1);
            }

            img {
                overflow: hidden;
                height: 100%;
                width: 100%;


            }

        }
    }
}

.ornament2 {
    display: block;
    width: 100%;
    height: 40vmin;
    background-image: url(../DjSideImg/przerywnik3.jpg);
    /* background-image: url(vinyl-22221595847_1920.jpg); */
    box-shadow: inset 0px 15px 15px #182019, inset -0px -15px 15px #182019;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 50%;

}

@media (max-width: 1300px) {

    .offer-wrapper {

        .offer {
            max-width: 85%;

            .col1,
            .col2 {
                flex-basis: 45%;
                height: 30vmax;

            }
        }
    }

    .gallery {

        .images {
            max-width: 85%;

        }
    }

}



@media (max-width: 600px) {

    .ornament1 {
        width: 100%;
        height: calc(var(--vh, 1vh) * 30);

    }


    .offer-wrapper {


        .offer {

            max-width: 100%;

            .col1,
            .col2 {

                flex-basis: 90%;
                height: 40vmax;

                margin: 5%;


            }
        }

    }


    .gallery {

        .images {
            max-width: 95%;



            a {
                margin: 3% 1%;
                flex-basis: 20vh;
                height: 15vh;


                &:hover {
                    transform: scale(1.1);
                }


            }
        }
    }


    .ornament2 {
        height: calc(var(--vh, 1vh) * 30);


    }


}