.burger {
    position: fixed;
    top: 5%;
    left: 2%;
    font-size: 4vh;
    transition: .3s linear;
    z-index: 200;

    &:hover {
        cursor: pointer;

    }

    &.active {
        transform: rotate(360deg);
    }

    & i.show {
        display: block;

    }

    .fas {
        display: none;
        color: orange;
    }


}



aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -30vh;
    width: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s linear;
    z-index: 100;
    border-bottom-right-radius: 200px 200px;
    border-right: 2px groove #D05A38;
    border-bottom: 2px groove #D05A38;
    overflow: hidden;


    &.show {
        left: 0%;
    }


    nav ul {
        list-style: none;
        margin-top: 35%;

        a {
            display: block;
            line-height: 10vh;
            font-size: 2.5vh;
            color: white;
            text-decoration: none;
            font-family: arial;
            padding: 0 5% 0 10%;

            &:hover i {
                margin-right: 20%;
            }

            &:hover {
                color: orange;
            }
        }

        i {
            width: 5vh;
            border-right: solid white 2px;
            margin-right: 30px;
            transition: .3s;
        }

    }


}

#preloader {
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease;
}

.load {
    border: 8px solid brown;
    border-radius: 100%;
    border-top: 8px dotted darkorange;
    width: 80px;
    height: 80px;
    animation: animationloader 2s linear infinite;
}

@keyframes animationloader {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}

#preloader.preloader-hiding {
    opacity: 0;
}

#preloader.preloader-hidden {
    display: none;
}


@media (max-width: 600px) {

    .burger {
        top: 5%;
        left: 5%;
        //font-size: 4vh;
        font-size: calc(var(--vh, 1vh) * 4);
        ;

    }



    aside {
        left: -100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        border-bottom-right-radius: 0px 0px;
        border-top: 2px groove #D05A38;
        border-right: 2px groove #D05A38;
        border-bottom: 2px groove #D05A38;

        nav ul {

            a {
                display: block;
                line-height: 10vh;
                font-size: 2.5vh;
                color: white;
                text-decoration: none;
                font-family: arial;
                padding: 0 5% 0 25%;

                &:hover i {
                    margin-right: 10%;
                }

                &:hover {
                    color: white;
                }
            }

            i {
                width: 5vh;
                border-right: solid white 2px;
                margin-right: 30px;
                transition: .3s;
            }

        }


    }

    #preloader {
        background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .35s ease;
    }

    .dot {
        width: 80px;
        height: 80px;
        margin: 0 10px;
        border-radius: 50%;
        border: 4px dotted red;
        animation: show-hide 1s linear infinite;
    }

    .dot:nth-child(2) {
        animation-delay: 300ms;
    }

    .dot:nth-child(3) {
        animation-delay: 600ms;
    }

    @keyframes show-hide {
        0% {
            transform: scale(0);
        }

        50% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    #preloader.preloader-hiding {
        opacity: 0;
    }

    #preloader.preloader-hidden {
        display: none;
    }
}